.container {
    background: #f2f2f2;
    padding: 65px 0 20px 0;
    /* Header offset */
}

.component {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.left-container {
    min-width: 40%;
    padding: 40px;
    text-align: center;
    border-right: 1px solid #f0f0f0;
}

.detail-image {
    padding: 15px 20px;
    border: 1px solid #f0f0f0;
    width: 90%;
    object-fit: contain;
    max-height: 400px;
}

.button-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.buy-btn {
    width: 48%;
    height: 50px;
    border-radius: 2px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.cart-btn {
    background: #ff9f00;
}

.buy-now-btn {
    background: #fb641b;
}

.right-container {
    padding: 20px 40px;
    width: 60%;
}

.title {
    font-size: 24px;
    font-weight: 400;
}

.rating-row {
    margin-top: 10px;
    display: flex;
    align-items: center;
    color: #878787;
    font-size: 14px;
}

.rating-badge {
    background-color: #388e3c;
    color: white;
    padding: 2px 6px;
    border-radius: 3px;
    font-size: 12px;
    margin-right: 10px;
}

.price-row {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.price {
    font-size: 28px;
    font-weight: 500;
}

.mrp {
    font-size: 16px;
    color: #878787;
    text-decoration: line-through;
    margin-left: 15px;
}

.discount {
    font-size: 16px;
    color: #388e3c;
    margin-left: 15px;
    font-weight: 500;
}

.offers {
    margin-top: 20px;
}

.offers h5,
.description h5 {
    font-size: 16px;
    color: #212121;
    margin-bottom: 5px;
}

.offers p {
    font-size: 14px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.offers p::before {
    content: '🏷️';
    margin-right: 10px;
    font-size: 12px;
}

.description {
    margin-top: 30px;
}

.description p {
    font-size: 14px;
    line-height: 1.5;
    color: #212121;
}