.category-bar {
    background-color: #fff;
    padding: 12px 8px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .16);
    display: flex;
    justify-content: center;
    width: 100%;
}

.category-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1248px;
    overflow-x: auto;
    /* Allow scroll on small screens */
}

.category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 0 10px;
    min-width: 80px;
    /* Ensure items don't squash too much */
}

.category-item:hover .category-text {
    color: var(--primary-blue);
}

.category-img-container {
    height: 64px;
    width: 64px;
    margin-bottom: 4px;
}

.category-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.category-text {
    font-size: 14px;
    font-weight: 500;
    color: #212121;
    text-align: center;
}