.footer {
    background-color: #172337;
    color: #fff;
    padding: 40px 0 0 0;
    margin-top: 20px;
    font-size: 12px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    padding: 0 40px 40px 40px;
    max-width: 1248px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 8px;
    min-width: 150px;
    margin-bottom: 20px;
}

.footer-title {
    color: #878787;
    font-size: 12px;
    margin-bottom: 10px;
    font-weight: 400;
}

.footer-column a {
    color: #fff;
    text-decoration: none;
}

.footer-column a:hover {
    text-decoration: underline;
}

.footer-bottom {
    border-top: 1px solid #454d5e;
    padding: 25px;
    text-align: center;
    color: #fff;
}